.container {
    width: min-content;
    min-width: 475px;
}

.text {
    margin-top: 0;
    text-align: justify;
}

.center {
    text-align: center;
}

.buttons {
    width: 200px;
    margin: 1em auto;
}