.container {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: auto auto;
}

video {
    display: block;
    margin: 0 auto;
    border: 2px solid #DDDDDD;
}

p {
    margin-top: 0;
    text-align: justify;
}

.center {
    text-align: center;
}

textarea {
    width: 100%;
}