.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: block;
    background-color: white;
    padding: 1em;
    margin: 10vh 10vw;
    box-shadow: 3px 2px 12px 0 #08080854;
}

.childrenContainer {
    margin-bottom: 1em;
}

.button {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}